.home{
    height: 100vh;
    background-image: url("../../images/bg-new.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    &-languages{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
    &-box-icon {
        padding-top: 20px;
        height: 50px;
        width: 55px;
        cursor: pointer;
    }
    &-icon{
        width: 100%;
        height: 100%;
    }
    #jp-flag{
        padding-top: 4px;
        width: 72%;
        height: 85%;
    }
    &-content, &-footer{
        padding-top: 180px;
    }
    &-footer{
        &-title{
            color: white;
            font-weight: 500;
            font-size: 15px;
        }
        &-download{
            display: flex;
            justify-content: center;
            gap: 30px;
            &-app-store {
                height: 30px;
                width: 100px;
                background-image: url("../../images/app-store.svg");
                cursor: pointer;
            }
            &-ch-play {
                height: 30px;
                width: 100px;
                background-image: url("../../images/google-play.svg");
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .home{
        &-content, &-footer{
            padding-top: 25%
        }
    }
}